body {
    background: rgb(110 179 240);
    margin: 0;
}

.card {
    background: rgba(14, 141, 155, 0.336);
    box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(5.5px);
    -webkit-backdrop-filter: blur(5.5px);
    border: 1px solid rgba(255, 255, 255, 0.18);
}
main{
    display: grid;
    grid-template-columns: repeat(auto-fit, 200px);
}